.idea/
.vscode/
tcl
scripts
PIL
Lib
Intense
Include
Images
main.jpg
Bfiles
MainApp.py
bg.py
demo.py
1.jpg
13554.jpg
2.jpg
3.jpg
4.jpg
5.jpg
6.jpg
7.jpg
750881.jpg
755282.jpg
779982.jpg
782578.jpg
812305.jpg
NumberOccur.java
Prime.java
Thumbnails/
demo.jpg
practice.py

